.main_content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100% - 130px);
    /*min-width: 624px;*/
    max-width: 1440px;
}

.main_title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    position: relative;
}

.main_code {
    background-color: #eeeeee;
    color: #009688;
    padding: 0px 5px;
}

#useNote ol {
    margin: 20px;
}

#useNote li {
    list-style-type: decimal !important;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
}

#useNote p {
    line-height: 24px;
}

#useNote h3 {
    font-weight: bold;
}

.main_menu {
    display: inline-block;
    width: 200px;
}

.tool_box {
    width: 23%;
    height: 305px;
    margin-left: 2%;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    position: relative;
    box-sizing: border-box;
    display: block;
    float: left;
    /*min-width: 280px;*/
    /*display: inline-block;*/
}

.tool_box_layout {
    /*width: 100%;*/
    height: 305px;
    /*margin-bottom: 30px;*/
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
}

.tool_class_name {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tool_box_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4f4f4f;
    padding: 10px;
}

.tool_box_desc {
    color: #7f7f7f;
    font-size: 16px;
    width: 90%;
    margin: auto;
    text-align: left;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_box_use {
    width: 50%;
    margin: 0px auto;
    border: 1px solid #CCCCCC;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
}

.tool_box_use:hover {
    border: 1px solid #5FB878;
}

.tool_box_use a {
    color: #9e9e9e;
    display: block;
}

.tool_box_use a:hover {
    color: #393D49;
}

.tool_box_use_count {
    color: #9f9f9f;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    border-top: 1px solid #e2e2e2;
    padding-left: 5%;
    padding-right: 5%;
}

.tool_share_container {
    font-size: 14px;
    cursor: pointer;
    color: #8590a6;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
    padding-right: 15px;
}

body {
    /*min-width: 800px;*/
}

.main_background {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 500px;
    /*background-image: url("/img/night1.jpg");*/
    background-color: #393D49;
    background-size: cover;
    /*min-width: 800px;*/
    box-sizing: border-box;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .tool_box {
        width: 95%;
        height: 305px;
        margin-left: 2.5% !important;
        margin-bottom: 30px;
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        position: relative;
        box-sizing: border-box;
        display: block;
        float: left;
        min-width: 280px;
        /*display: inline-block;*/
    }
}

.common_list {
    margin: 20px;
}

.common_list li {
    list-style-type: decimal !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ld-layui-panel {
    border-color: #eee;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: #fff;
    color: #666;
    box-shadow: var(--el-box-shadow-light);
}

.ld_favorite_icon {
    color: #FFB800;
}

.tool_category {
    color: #9f9f9f;
}

.tool_category:hover {
    color: #009688;
}

.page_color {
    color: #009688;
}

#pageListContainer > a {
    margin-right: 10px;
}

.adjust_btn_container_margin_bottom {
    margin-bottom: 5px !important;
}

.related_tool:hover {
    border: 1px solid #009688;
}

.layui-card-header {
    background-color: #F5F5F5;
}
